# Firebase Configuration
FIREBASE_CREDENTIALS=your-firebase-adminsdk.json
FIREBASE_API_KEY=your_firebase_api_key
FIREBASE_AUTH_DOMAIN=your-project.firebaseapp.com
FIREBASE_PROJECT_ID=your-project-id

# App Secrets
JWT_SECRET=your-jwt-secret-key

# HuggingFace AI
HF_API_KEY=your_huggingface_api_key_here
HF_MODEL=openai/gpt-oss-120b

# Server
PORT=5000
CLIENT_URL=http://localhost:5000
